/* css of our home page */

.homePageWrapper{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  height: 100vh;
}

.formWrapper{
  background: #282a42;
  padding: 20px;
  border-radius: 20px;
  width: 400px;
  max-width: 90%;
}


.inputGroup{
  display: flex;
  flex-direction: column;
  
}

.mainLabel{
   margin-bottom: 20px;
   margin-top: 0;
   font-size: large;
   font-weight: 100px;
}

.inputBox{
  padding: 10px;
  border-radius: 8px;
  outline: none;
  border: none;
  margin-bottom: 15px;
  background:#eee;
  font-size: 16px;
  font-weight: bold;
}
.btn{
  border: none;
  padding: 10px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}

.joinBtn{
  background: hsl(230, 79%, 68%);
  width: 100px;
  margin: auto;
}

.joinBtn:hover{
  background:hsl(230, 82%, 56%) ;
}

.createinfo{
margin-top: 20px;
margin:0 auto;
margin-top: 20px;
font-weight: 100px;

}

.createNewBtn{
  color:  hsl(230, 70%, 72%);
  text-decoration: none;
  border-bottom: 1px solid   hsl(230, 68%, 71%);
  transition: all 0.3s ease-in-out;
  font-weight: bold;
}

.createNewBtn:hover{
  color:  hsla(230, 70%, 72%, 0.765);
  border-color:  hsla(230, 70%, 72%, 0.622);
}
footer{
  position: fixed;
  bottom: 0;
}

footer a{
  color:  hsl(230, 79%, 68%);
  text-decoration: none;
}


/* css of our editor page */

.mainWrap{
  display: grid;
  grid-template-columns: 230px 1fr 300px ;
}

.logo{
  border-bottom: 3px solid #424242;
  padding-bottom: 10px;
 }
.leftSide{
  background: #282a42;
  padding: 16px;
  color:#fff;
  display: flex;
  flex-direction: column;
}

.leftSideInner{
flex: 1;
}

.clientLists{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.client{
  display: flex;
  align-items: center;
  flex-direction: column;
  /* font-weight: bold; */
}

.userName{
  margin-top: 10px;
}

.leaveBtn{
  width: 100%;
  margin: auto;
  margin-top: 20px;
  background: red;
}
.leaveBtn:hover{
  background:rgb(159, 3, 3) ;
}
.coptBtn{
  background:#ffffffd6;
  transition: all 0.3s ease-in-out;
}
.coptBtn:hover{
  background:#ffffff96;
}
.editorWrap{
  max-width:calc(750px);
  min-width:calc(750px);
}
/* css of code editor */

.CodeMirror{
  min-height: calc(100vh - 20px);
  font-size: 20px;
  line-height: 1.6;
  padding-top: 20px;
  width: 100%;
  max-width:calc(750px);
  min-width:calc(750px);
} 


/* css for input output */

.io-style{
  background-color: rgb(255, 255, 255);
  outline: none;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  /* height: 260px; */
  max-height: calc(35%);
  min-height: calc(35%);
}

.ioWrap{
  margin-left: 1px;
  display: flex;
  flex-direction: column;
  /* width: 300px; */
  color: white;
  background: #282a42;
  font-weight: bold;
  /* max-height: calc(100vh-10px); */
  min-height: calc(100vh);
}
.inputArea{
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}
.outputArea{
  font-weight: bold;
  margin-top: 10px;
}
.languageText{
  font-weight: bold;
  margin-left: 15%;
  font-size: 18px;
  margin-bottom: 5px;
}
.runBtn{
  margin-top: 10px;
  width: 200px;
  margin-left: 20%;
  background: hsl(230, 79%, 68%);
  transition: all 0.3s ease-in-out;
  font-weight: bold;
}
.runBtn:hover{
  background: hsla(230, 79%, 68%, 0.885);
 }
.selectLang {
  cursor:pointer;
  border: none;
  /* width: 100%; */
  outline: none;
  margin-top: 8px;
  margin-left: 10px;
  padding: 3px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  text-align-last: center; 
  margin-bottom: 10px;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #282a42;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: hsl(230, 79%, 68%);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: hsl(230, 79%, 68%);
}

